node_modules/
dist/
build/
.next/
.nuxt/
.cache/
.vuepress/dist/
.serverless/
.fusebox/
.dynamodb/
.tern-port
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.DS_Store
*.pem
.idea/
.vscode/
*.swp
*.swo
.eslintcache
